<a href="https://colab.research.google.com/github/Garima-2702/Garima-2702/blob/Basic-of-python/exception_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 5
y = "hello"
try:
	z = x + y
except TypeError:
	print("Error: cannot add an int and a str")

Error: cannot add an int and a str

In [4]:
a=1000
try:
  b=a/0
except ZeroDivisionError:
  print("number cannot be divide by 0")

number cannot be divide by 0

In [11]:
from logging import exception
a=10
a=int(a)
for i in range(a):
  try:
    if i==5:
      raise Exception("wrong number")
  except Exception:
    print("5 created error")

5 created error

In [13]:
from logging import exception
a=10
a=int(a)
for i in range(a):
  try:
    if i==5:
      raise Exception("wrong number")
  except Exception as e:
    print(e)
    print("5 created error")

wrong number
5 created error

In [16]:
from logging import exception
a=10
a=int(a)
for i in range(a):
  try:
    if i==5:
      raise Exception("wrong number")
  except Exception as e:
    print("5 created error")
    print(e)
  else:
    print("coorect execution")
  finally:
    print(i)

coorect execution
0
coorect execution
1
coorect execution
2
coorect execution
3
coorect execution
4
5 created error
wrong number
5
coorect execution
6
coorect execution
7
coorect execution
8
coorect execution
9