<a href="https://colab.research.google.com/github/Garima-2702/Garima-2702/blob/Basic-of-python/pyramid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
rows=int(input('enter no of rows'))
for x in range(1,rows+1):
  for y in range(1,x+1):
    print(y,end="")
  print()

enter no of rows5
1

12

123

1234

12345

In [53]:
rows=int(input('enter no of rows'))

for x in range(1,rows):
  for z in range(1,rows-x):
    print(" ",end="")
  for y in range(1,(2*x)):
     print(y,end="")
  print("\r")

enter no of rows5
   1
  123
 12345
1234567