<a href="https://colab.research.google.com/github/Garima-2702/Garima-2702/blob/Basic-of-python/stringlibrary_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
str='my name is garima and my father name is vijay sharma'
a=str.count('m')
print(a)

6

In [12]:
str='my name is garima and my father name is vijay sharma'
a=str.count('my')
print(a)

2

In [18]:
str='my name is garima and my father name is vijay sharma'
a=str.find('my')
print(a)
b=str.find('name')
print(b)
c=str.find('y')
print(c)
d=str.find('')
print(d)

0
3
1
0

In [28]:
str='my name is {0} . My sister name is {1}. My friend name is {2}'

a=str.format('garima','sejal','sonu')
print(a)

my name is garima . My sister name is sejal. My friend name is sonu

In [9]:
str='my name is garima'
print(str)
a=str.replace("garima","sharma")
print(a)

my name is garima
my name is sharma

In [2]:
str='mynameisgarima'
print(str[4:7])

mei

In [3]:
str='my name is garima'
print(str.upper())

MY NAME IS GARIMA

In [4]:
str='MY NAME IS GARIMA'
print(str.lower())

my name is garima

In [5]:
str=' My name is Garima '
length=len(str)
print(length)
print(str.strip())
size=len(str.strip())
print(size)

19
My name is Garima
17

In [29]:
a='my name is garima'
x=a.split()
count=0
for b in x:
  count+=1
print(count)

4